# Virtual Environment
rag_env/
venv/
.env/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# FAISS index / vector store
vector_store/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl